$background-color: #141414
$front-color: #FCFAEE
$focus-color: #454ADE

@font-face
  font-family: TimiSans
  src: local("TimiSans") url("/https://github.com/TimiParkinson/Graphic-Design-Fall-2023/blob/3c41c8c99dac4a63e663b69341084fcd8c239838/public/fonts/TimiSans.otf") format("opentype"), url('timisans_3-webfont.woff2') format('woff2'), url('timisans_3-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal
@font-face
  font-family: OluSans
  src: local("OluSans") url("https://github.com/TimiParkinson/Graphic-Design-Fall-2023/blob/3c41c8c99dac4a63e663b69341084fcd8c239838/public/fonts/OluSans.otf") format("opentype"), url('olusans-webfont.woff2') format('woff2'), url('olusans-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal
body
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  color-scheme: dark
  background-color: $background-color
  color: $front-color
  fill: $front-color
  stroke: $front-color
  overflow: hidden
  margin: 0
  padding: 0
  h1, h2, h3, h4, h5, h6
    font-family: TimiSans, Verdana, sans-serif
  p, a, button, div, textarea
    font-family: TimiSans, Verdana, sans-serif